{% extends "base.html" %}
{% from 'macros.html' import flash_alert %}
{% block content %}

<fieldset>
    {{ flash_alert() }}
    <div class="container">
            <form method="POST"  class="login_form">
                    <h1 id="login_title"><strong>login</strong></h1>
                    {{ form.hidden_tag() }}
                    <div class="field">
                        {{ form.username(class_='form-control',placeholder='Username') }}
                    </div>
                    <ul>
                        {%for error in form.username.errors %}
                            <li style="color: red">{{error}}</li>
                        {%endfor%}
                     </ul>
                    <div class="field">
                        {{ form.password(class_='form-control',placeholder='Password') }}
                    </div>
                    <ul>
                        {%for error in form.password.errors %}
                            <li style="color: red">{{error}}</li>
                        {%endfor%}
                    </ul>
                        <div class="field">
                            {{ form.submit(class_='submit') }}
                        </div>
                <div  class="registration_redirect">
                    <label>Create an <a href="{{url_for('UserModel.registration')}}"><strong>Account</strong></a></label>
                </div>

                <button type="button"  class="btn btn-success" id="forgot"
                data-toggle="modal" data-target="#mymodal">forgot password?</button>
            </form>

    </div>
    <div id="mymodal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog">
      <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title">Recovery password</h4>
             </div>
             <div class="modal-body">
                <form action="{{url_for('UserModel.forgot_password')}}" method="POST">
                  <div class="form-group">
                  <input type="text" class="form-control" name="username" required="1" placeholder="username">
               </div>
                <div class="form-group">
                  <input type="text" step="0.01" class="form-control" name="password" required="1" placeholder="password">
               </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="Repassword" required="1" placeholder="Re-enter password">
               </div>
                   <div class="text-center">
                      <button class="btn btn-primary" type="submit" >update</button>
                   </div>
                </form>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
             </div>
          </div>
      </div>
   </div>
</fieldset>
{% endblock content %}