{% extends "base.html" %}
{% from 'macros.html' import flash_alert %}
{% block content %}

<fieldset>
    <div class="login_container">
        {{ flash_alert() }}
        <form method="POST"  class="login_form">
                    <h1 id="login_title"><strong>{{ _('login') }}</strong></h1>
                    {{ form.hidden_tag() }}
                    <div class="logfield">
                        <span class="username_icon"><i class="fas fa-user"></i></span>
                        {{ form.username(class_='form-control',placeholder='Username') }}
                    </div>
                    <ul>
                        {%for error in form.username.errors %}
                            <li style="color: red">{{error}}</li>
                        {%endfor%}
                     </ul>
                    <div class="logfield">
                        <span class="password_icon"><i class="fas fa-lock"></i></span>
                        <span class="password_eye"><i class="fa fa-eye" aria-hidden="true" id='eye' onclick="toggle()"></i></span>
                        {{ form.password(class_='form-control',placeholder='Password') }}
                    </div>
                    <ul>
                        {%for error in form.password.errors %}
                            <li style="color: red">{{error}}</li>
                        {%endfor%}
                    </ul>
                        <div class="field">
                            {{ form.submit(class_='submit') }}
                        </div>
                <div  class="registration_redirect">
                    <label class="redirect">{{ _('Create an')}} <a href="{{url_for('UserModel.registration')}}"><strong>{{ _('Account') }}</strong></a></label>
                </div>

                <button type="button"  class="forgot_btn"
                data-toggle="modal" data-target="#mymodal">{{ _('forgot password?') }}</button>
            <div class="social_buttons">
                 <a href="{{ url_for('google.login') }}" id="google"><i class="fab fa-Google"></i></a>
                 <a href="#" id="linkedin"><i class="fab fa-LinkedIn"></i></a>
                 <a href="{{ url_for('github.login') }}" id="github"><i class="fab fa-github"></i></a>
            </div>
            </form>
    </div>

    <div id="mymodal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
       <div class="modal-dialog">
          <div class="modal-content" id="forgot_pass">
                 <div class="modal-header">
                    <h4 class="modal-title">{{ _('Recovery password')}}</h4>
                 </div>
                 <div class="modal-body">
                    <form action="{{url_for('UserModel.forgot_password')}}" method="POST">
                      <div class="form-group">
                      <input type="text" class="form-control" name="username" required="1" placeholder='Username'>
                   </div>
                    <div class="form-group">
                      <input type=password step="0.01" class="form-control" name="password" required="1" placeholder="password">
    {#                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>#}
                   </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="Repassword" required="1" placeholder='Re-enter password'>
                   </div>
                       <div class="text-center">
                          <button class="btn btn-primary" type="submit"  id="update_button">{{ _('update')}}</button>
                       </div>
                    </form>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close_btn" data-dismiss="modal">{{ _('Close') }}</button>
                 </div>
          </div>
       </div>
    </div>
</fieldset>
{% endblock content %}