@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }
}
@media (max-width: 800px) {
    .login_container {
        max-width: 500px;
    }
}
@media (max-width: 400px) {
    .regfield .form-control{
        margin: 3px auto;
    }
    .logfield .form-control{
        margin: 5px auto;
    }
}
