@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }
}
@media (max-width: 800px) {
    .login_container {
        max-width: 500px;
    }
}
@media (max-width: 400px) {
    .regfield .form-control{
        margin: 3px auto;
    }
    .logfield .form-control{
        margin: 5px auto;
    }
}
@media(max-width: 800px){
    .nav_burger{
        display: block;
    }
    .nav-list{
        margin-left: 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-nav-list{
        justify-content: center;
    }
    .navbar{
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        background: black;
        width: 100%;
        margin-top: 200px;
    }
    .nav-link a:hover,a.active{
        background: none;
        color: white;
    }
}
@media(min-width: 1400px){
    .jumbotron{
        margin-top: 14%;
    }
    .login_container{
        margin: 14% auto;
        width: 350px;
    }
    .login_form{
        width: 320px;
        height: 500px;
    }
    .register_container{
        margin: 12% auto;
    }
    .register_form{
        width: 400px;
        height: 600px;
    }
    .regfield .form-control{
        width: 230px;
        margin: 10px auto;
    }
    .regfield .form-control:focus{
        width: 280px;
    }
    #reg_title{
        margin: 0 0 25px 0;
        font-size: 35px;
    }
    .login_redirect{
        font-weight: normal;
        margin-top: 15px;
        font-size: 20px;
    }
    .store-container{
        margin: 80px 0 0 8%;
    }
}