body {
    font-family: sans-serif;
    background-image: url("../assets/background_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    opacity: 0.8;
}
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px auto;
}

/*Navbar */

nav{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navbar{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
.nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: silver;
    font-family: cursive,sans-serif;
    font-size: 18px;
}
.nav-link a{
    color: silver;
    text-decoration: none;
}
.nav-link a:hover{
    color: white;
}
a:active{
    color: white;
}
.navbar_brand .nav-link{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.nav-link a:focus{
    color: white;
}
.navbar_brand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
.user-nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: silver;
}
.user-nav-list ul li{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
}
.guest-nav-list a {
    margin-left: 20px;
}
.toggle-button{
    display: none;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

/*Login*/

.login_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 350px;
    margin: 5% auto;
}
.login_form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
            box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius: 10px;
}
.logfield .form-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 15px auto;
    padding: 20px 10px;
    border-radius: 10px;
    border-color: #cdb4db;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.logfield{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#login_title{
    font-size: 30px;
    font-family: cursive;
    margin: 20px auto;
}
.forgot_btn {
    border-radius: 4px;
    padding: 11px 13px;
    color: white;
    background-color: rgba(25,146,25,0.8);
    border: none;
    font-family: sans-serif;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.forgot_btn:hover{
    background-color: #105c10;
}

/*Registration*/

.register_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 15px auto;
}
.register_form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    padding: 15px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
            box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius: 10px;
    text-align: center;
}
.regfield .form-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 200px;
    width: 100%;
    margin: 5px auto;
    padding: 20px 10px;
    border-radius: 10px;
    border-color: #cdb4db;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 1;
}
.regfield .form-control:focus{
    width: 260px;
    height: 40px;
}
.regfield .form-control:hover{
    border-color: #cdb3db;
}
#reg_title{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin: 12px auto;
}
.registration_redirect {
    font-family: sans-serif;
    text-align: center;
    margin: 15px;
}
.registration_redirect label{
    text-decoration: none;
}
.redirect a{
    text-decoration: none;
}

/*Submit button*/

.submit{
    font-family: cursive;
    margin: 10px auto;
    border: 2px solid limegreen;
    text-align: center;
    padding: 9px 25px;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.submit:hover{
    background: #4f9e3e;
}
#update_button:hover{
    background: #4f9e3e;
}
#forgot:hover{
    background: darkgreen;
}
.login_redirect{
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 5px;
}
.redirect a:hover{
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: green;
}
/*Alert*/

.alert-success{
    position: absolute;
    text-align: center;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #4CAF50;
    font-family: sans-serif;
    list-style: none;
    z-index: 20;
    margin-bottom: 50px;
}
.alert-danger{
    position: absolute;
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #8a0208;
    font-family: sans-serif;
    list-style: none;
    z-index: 20;
}

/*Store*/

.store-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 10px 0 0 8%;
}

/*Button customization*/

#update_button {
    border-radius: 10px;
    font-family: cursive;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border: none;
}
#update_button:focus{
    border: 1px solid limegreen;
}
#close_btn{
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.btn-primary{
    width: 120px;
}
.btn-secondary{
    width: 110px;
}
#close_btn:hover{
    background-color: darkred;
}
.admin-btn{
    background-color: #a80208;
    padding: 8px 18px;
    border-radius: 3px;
}
.admin-btn:hover{
    background-color: #670608;
}

/*Social networks*/

.social_buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;
}
.social_buttons a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    padding: 10px;
    background: dimgrey;
    color: white;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 28px;
    text-decoration: none;
}
.fa-google:hover{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    color: transparent;
   -webkit-text-fill-color: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.social_buttons #google:hover{
    background-color: white;
    -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
            transform: translate(0, -10px);
}
.social_buttons #linkedin:hover{
    background: #4c9bff;
    -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
            transform: translate(0, -10px);
}
.social_buttons #github:hover{
    background: black;
    -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
            transform: translate(0, -10px);
}

/*Font-awesome*/

.username_icon{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    opacity: 0.6;
}
.password_eye{
    position: absolute;
    margin: 175px;
    opacity: 0.6;
}
.password_icon{
    position: absolute;
    margin: 10px;
    opacity: 0.6;
}
.fa-globe{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    z-index: 10;
}
.fa-globe:hover{
    color: #4c9bff;
}

/*Modal*/

.modal-content{
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: cursive;
}

/*table customization*/

.table{
    width: 800px;
}
.table_addon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    width: 82%;
}

.text-right{
    max-width: 100%;
}

.search_bar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 310px;
}
.lead{
    font-family: cursive;
    margin-top: 40px;
}
.search_bar input{
    max-width: 72%;
}
.display-4{
    font-family: sans-serif;
}
.jumbotron{
    font-family: cursive;
    border-radius: 8px;
}
.next_login{
    margin-bottom: 10px;
}

/*Dropdown menu*/

.dropdown{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.dropdown div a{
    display: block;
    padding: 3px;
}
.dropdown div{
    visibility: hidden;
    top: 20px;
    z-index: 5;
    position: absolute;
    padding: 14px 4px 5px 4px;
}

.dropdown:hover div{
    visibility: visible;
    background-color: black;
    border-radius: 5px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
