<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section class="part1">
            <header class="container">
                <div class="main-box">
                    <h1 class="logo">MyInventory</h1>
                        <nav>
                            <ul>
                                <li>HOME</li>
                                <li>ABOUT US</li>
                                <li>STORE</li>
                                <li class="reg">შესვლა</li>
                                <li class="reg">რეგისტრაცია</li>
                            </ul>
                        </nav>
                </div>
            </header>
     </section>
        <div class="boxes">
            <div class="middle-box">
                <h2>Welcome to the site!</h2>
                <h3>This is a site for online inventory  managment</h3>
            </div>
            <div class="mini-boxes">
                <div class="box1">
                    <p>Simple to use</p>
                </div>
                <div class="box1">
                    <p>manage items</p>              
                </div>
                <div class="box1">
                    <p>real time-items</p>              
                </div>
                <div class="box1">
                    <p>buy items</p>               
                </div>
                <div class="box1">
                    <p>add items</p>               
                </div>
                <div class="box1">
                    <p>pay for items</p>            
                </div>
            </div>    
     </div>
</body>
</html>